<div id='game'>

  <%if @lose %>
    <div class="alert alert-error"><%=@lose%></div>
  <% end %>
  <%if @win %>
    <div class="alert alert-success"><%=@win%></div>
  <% end %>


  <% if @play_again %>
    <h3>You now have <span class='green_money'>$<%= session[:player_money] %></span></h3>
    <p>
      <strong>Play Again?</strong>
      <a href='/bet' class='btn btn-success'>Yes</a>
      <a href='/game_over' class='btn'>No</a>
    </p>
  <% else %>
    <h3>Total: <span class='green_money'>$<%= session[:player_money].to_s %></span> <span class='pull-right'>Current Bet: <span class='green_money'>$<%= session[:player_bet] %></span></span></h3>
  <% end %>

  <div id='dealer_area' class='well'>
    <h4 class='center_name'><span class='total'>Dealer's Cards:</span></h4>
    <% session[:dealer_hand].each_with_index do |card, i| %>
      <% if session[:turn] != 'dealer' && i == 0 %>
        <img src='/images/cards/cover.jpg'>
      <% else %>
        <%= card_image(card) %>
      <% end %>
    <% end %>
  </div>

  <% if @dealer_hit_button %>
    <p>
      <h4>Dealer's total is <%= calculate_cards(session[:dealer_hand]) %> and will hit</h4>
      <form id='dealer_hit_button' action='/game/dealer/hit' method='post'>
        <input type='submit' class='btn btn-success' value="Reveal dealer's next card &rarr;" style="font-family: 'Cherry Swash', cursive;" />
      </form>
    </p>
  <% end %>


  <div id='player_area' class='well'>
    <h4 class='center_name'><%= session[:player_name] %>'s Cards:
    <span class='total'>total:(<%= calculate_cards(session[:player_hand]) %>)</span></h4>
    <% session[:player_hand].each do |card| %>
      <%= card_image(card) %>
    <% end %>
  </div>

  <div id='bet_interface'>
    <% if @hit_stay_buttons %>
      <h2>Would you like to Stay, or Hit?
      <form id='hit_button' action='/game/player/hit' method='post'>
        <input type='submit' class='btn btn-success' value='Hit' />
      </form>

      <form id='stay_button' action='/game/player/stay' method='post'>
        <input type='submit' class='btn' value='Stay' style='color:#4D161B;' />
      </form></h2>
    <% end %>
  </div>

</div>